<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jerry.android.jeepcamera">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:label="@string/jeep_app_name"
        android:supportsRtl="true">

        <activity
            android:name=".base.BasePhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".base.ConfirmImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".gallery.GalleryPhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/jeep_AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
